/target/classes/model/chess/ApplicationConsole.class
/target/classes/model/chess/ApplicationSwing.class
/target/classes/images/old/b_BLACK.png
/target/classes/images/b_BLACK.png
/target/classes/images/old/b_WHITE.png
/target/classes/images/b_WHITE.png
/target/classes/bishop_b.csv
/target/classes/model/chess/basis/Board.class
/target/classes/fen/board-default.csv
/target/classes/board-default.csv
/target/classes/board-intelligence.csv
/target/classes/fen/board-test.csv
/target/classes/model/chess/basis/Chess.class
/target/classes/model/chess/basis/Color.class
/target/classes/model/chess/systems/ConsolePrint.class
/target/classes/images/old/dasd
/target/classes/model/chess/systems/DataForLoadingBoard.class
/target/classes/images/board/dot.png
/target/classes/model/chess/utils/FenUtils.class
/target/classes/model/chess/basis/HistoricalBoardFen.class
/target/classes/images/old/k_BLACK.png
/target/classes/images/k_BLACK.png
/target/classes/images/old/k_WHITE.png
/target/classes/images/k_WHITE.png
/target/classes/model/chess/systems/LoaderFromFile.class
/target/classes/puzzles/mate_1_00001.csv
/target/classes/puzzles/mate_1_00002.csv
/target/classes/puzzles/mate_1_00003.csv
/target/classes/puzzles/mate_1_00004.csv
/target/classes/puzzles/mate_1_00005.csv
/target/classes/puzzles/mate_1_00006.csv
/target/classes/model/chess/actions/MoveCommand.class
/target/classes/model/chess/feedbacks/MoveFeedBack.class
/target/classes/images/old/n_BLACK.png
/target/classes/images/n_BLACK.png
/target/classes/images/old/n_WHITE.png
/target/classes/images/n_WHITE.png
/target/classes/images/old/p_BLACK.png
/target/classes/images/p_BLACK.png
/target/classes/images/old/p_WHITE.png
/target/classes/images/p_WHITE.png
/target/classes/model/chess/basis/Piece.class
/target/classes/model/chess/basis/PieceType.class
/target/classes/images/old/q_BLACK.png
/target/classes/images/q_BLACK.png
/target/classes/images/old/q_WHITE.png
/target/classes/images/q_WHITE.png
/target/classes/images/old/r_BLACK.png
/target/classes/images/r_BLACK.png
/target/classes/images/old/r_WHITE.png
/target/classes/images/r_WHITE.png
/target/classes/model/chess/basis/Square.class
/target/classes/model/chess/systems/SystemConfig.class
/target/classes/model/chess/basis/Tile.class
